{% extends 'base.html.twig' %}

{% block title %}{{ 'homepage.title'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'homepage.welcome'|trans }}</h1>

<div class="filter-sort-container">
    <div class="filter">
        <label for="category">{{ 'homepage.filter_by_category'|trans }}</label>
        <form method="get" action="{{ path('homepage') }}" class="no-style-form">
            <select name="category" id="category" onchange="this.form.submit()">
                <option value="">{{ 'homepage.all_categories'|trans }}</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if selectedCategory == category.id %} selected {% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="sort">
        <label for="sort">{{ 'homepage.sort_by'|trans }}</label>
        <form method="get" action="{{ path('homepage') }}" class="no-style-form">
            <select name="sort" id="sort" onchange="this.form.submit()">
                <option value="">{{ 'homepage.default_sort'|trans }}</option>
                <option value="price_asc" {% if selectedSort == 'price_asc' %}selected{% endif %}>{{ 'homepage.sort_price_asc'|trans }}</option>
                <option value="price_desc" {% if selectedSort == 'price_desc' %}selected{% endif %}>{{ 'homepage.sort_price_desc'|trans }}</option>
                <option value="name_asc" {% if selectedSort == 'name_asc' %}selected{% endif %}>{{ 'homepage.sort_name_asc'|trans }}</option>
                <option value="name_desc" {% if selectedSort == 'name_desc' %}selected{% endif %}>{{ 'homepage.sort_name_desc'|trans }}</option>
            </select>
        </form>
    </div>
</div>



<h2>{{ 'homepage.products'|trans }}</h2>
<div class="product-cards">
    {% for product in products %}
        <a href="{{ path('product_show', { id: product.id }) }}" class="btn">
            <div class="card">
                <div class="card-image">
                    {% if product.photo %}
                        <img src="{{ product.photo }}" alt="{{ product.nom }}">
                    {% else %}
                        <p>{{ 'homepage.no_image'|trans }}</p>
                    {% endif %}
                </div>
                <div class="card-content">
                    <h3>{{ product.nom }}</h3>
                    <p>{{ product.prix }} €</p>
                    {% if product.stock == 0 %}
                        <p class="out-of-stock">{{ 'homepage.out_of_stock'|trans }}</p>
                    {% endif %}
                </div>
            </div>
        </a>
    {% else %}
        <p>{{ 'homepage.no_products'|trans }}</p>
    {% endfor %}
</div>

{% if is_granted('ROLE_ADMIN') %}
    <div class="admin-actions">
        <a href="{{ path('product_new') }}" class="btn btn-primary">{{ 'homepage.add_new_product'|trans }}</a>
    </div>
{% endif %}
{% endblock %}
