{% extends 'base.html.twig' %}

{% block title %}{{ 'error404.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'error404.heading'|trans }}</h1>
    <p>{{ 'error404.message'|trans }}</p>
    <a href="{{ path('homepage') }}" class="btn">{{ 'error.go_back'|trans }}</a>
{% endblock %}
